<main>
  <div id="particles-js"></div>
  
  <p id="title">WE'RE LAUNCHING SOON</p>

  <div id="counter">

    <div class="timer">
      <div class="flip-card">{{days}}</div>
      <p>DAYS</p>
    </div>
    <div class="timer">
      <div class="flip-card">{{hours}}</div>
      <p>HOURS</p>
    </div>
    <div class="timer">
      <div class="flip-card">{{minutes}}</div>
      <p>MINUTES</p>
    </div>
    <div class="timer">
      <div class="flip-card">{{seconds}}</div>
      <p>SECONDS</p>
    </div>
  </div>

  <footer>
    <img src="assets/icon-facebook.svg" alt="">
    <img src="assets/icon-pinterest.svg" alt="">
    <img src="assets/icon-instagram.svg" alt="">
  </footer>
</main>