main{
    height: 100vh;
    display: flex;
    background-color: #1e1f29;
    flex-direction: column;
    align-items: center;

    #particles-js{
        position: fixed;
        top:0;
        left:0;
        width: 100%;
        height: 100%;
        z-index: 0;
    }

    #title{
        color: white;
        padding: 1rem;
        font-size: 1.5rem;
        margin-top: auto;
        z-index: 1;
    }

    #counter{
        color: white;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        z-index: 1;

        .timer{
            margin: 0.5rem;
            text-align: center;

            .flip-card{
                background-color: hsl(236, 21%, 26%);
                color: hsl(345, 95%, 68%);
                font-size: 5rem;
                height: 8rem;
                width: 8rem;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 0.5rem;
            }
            
            p{
                color: hsl(237, 18%, 59%);
                font-size: 0.6rem;
                padding-top: 0.5rem;
            }
        }
       
    }

    footer{
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: auto;
        background-image: url('../assets/pattern-hills.svg');
        background-size: 100% 100%;
        padding-top: 6rem;
        padding-bottom: 2rem;
        z-index: 1;
        
        img{
            margin: 0.8rem;
            width: 2rem;
        }
    }
}