<main>
  <p id="title">WE'RE LAUNCHING SOON</p>

  <div id="counter">

    <div class="timer">
      <div class="flip-card">08</div>
      <p>DAYS</p>
    </div>
    <div class="timer">
      <div class="flip-card">23</div>
      <p>HOURS</p>
    </div>
    <div class="timer">
      <div class="flip-card">55</div>
      <p>MINUTES</p>
    </div>
    <div class="timer">
      <div class="flip-card">41</div>
      <p>SECONDS</p>
    </div>
  </div>

  <footer>
    <img src="assets/icon-facebook.svg" alt="">
    <img src="assets/icon-pinterest.svg" alt="">
    <img src="assets/icon-instagram.svg" alt="">
  </footer>
</main>