main{
    height: 100vh;
    display: flex;
    background-color: #1e1f29;
    flex-direction: column;

    footer{
        display: flex;
        justify-content: center;
        margin-top: auto;
        background-image: url('../assets/pattern-hills.svg');
        background-size: 100% 100%;
        padding-top: 6rem;
        padding-bottom: 2rem;
        
        img{
            margin: 0.8rem;
            width: 2rem;
        }
    }
}